/train0.csv
/index.csv
/images*
/data*
/downloader.log
/.ipynb_checkpoints*
/.idea*
/recognition_sample_submission.zip
/download-images-dataset-python3-log-progressbar.py
/bibloiografia*
*.zip
/.vscode
/download.csv
/train.csv